@use 'src/assets/styles/colors' as *;
@use 'src/assets/styles/breakpoints' as *;

.settings-container > div {
   margin: 2rem auto;

   h3 {
      color: $primary-mixed-black;
      font-size: 2rem;
      line-height: 2.5rem;
   
      @media (max-height: $bp-small-height) {
         font-size: 1.5rem;
      }
   }
}
