@use 'src/assets/styles/colors' as *;

mat-form-field {
   width: 80%;
   margin-top: 2rem;
}

mat-tab-group {
   height: 50vh;
   width: 100%;
}

.center-content {
   position: relative;
   height: 100%;
}