<div class="center-content">
   <h2>{{ "auth.title" | transloco }}</h2>
   <mat-tab-group *ngIf="{ loading: (isLoading$ | async) ?? true } as data">
      <mat-tab label="{{ 'auth.buttons.login' | transloco }}">
         <app-login (loginEvent)="loginSubmit($event)" [disableSubmit]="data.loading"></app-login>
      </mat-tab>
      <mat-tab label="{{ 'auth.buttons.register' | transloco }}">
         <app-register (registerEvent)="registerSubmit($event)" [disableSubmit]="data.loading"></app-register>
      </mat-tab>
   </mat-tab-group>
   <button mat-flat-button color="accent" (click)="goBack()" class="alignBottom">{{ "shared.backToMenu" | transloco }}</button>
</div>