@use 'src/assets/styles/colors' as *;

$black-chess-tile-color: $primary-400;
$white-chess-tile-color: $secondary-200;

* {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.chessBoard {
    border-collapse: collapse;
    .chessRow {
        margin: 0;
        .chessTile {
            width: 2.5rem;
            height: 2.5rem;
            margin: 0;
            .chessPieceIcon {
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            &.highlighted {
                background-color: $secondary-900 !important;
            }
        }
        &:nth-child(odd) {
            .chessTile {
                &:nth-child(even) {
                    background-color: $black-chess-tile-color;
                }
                &:nth-child(odd) {
                    background-color: $white-chess-tile-color;
                }
            }
        }
        &:nth-child(even) {
            .chessTile {
                &:nth-child(odd) {
                    background-color: $black-chess-tile-color;
                }
                &:nth-child(even) {
                    background-color: $white-chess-tile-color;
                }
            }
        }
    }
}

.announcement {
    color: $primary-mixed-black;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
