<div class="center-content">
   <p class="announcement">{{announcement}}</p>
   <app-chessboard [displayBoard]="displayBoard" [highlightedTiles]="highlighted" (tileClick)="onTileClick($event)"></app-chessboard>
   <p class="announcement">Turn {{game.turn + 1}}</p>
   <button mat-flat-button color="accent" (click)="onPvEWin()" *ngIf="isGameWonVsAI()">To the leaderboards</button>
   <button mat-flat-button color="accent" (click)="backToMenu()" class="alignBottom" *ngIf="!isGameWonVsAI()">Leave
      game</button>
</div>