@use 'src/assets/styles/colors' as *;

h2 {
    color: $primary-mixed-black;
    font-size: 2.5rem;
}

mat-form-field {
    width: 80%;
    margin-top: 2rem;
}

mat-tab-group {
    height: 80%;
    width: 100%;
}

.tab {
    overflow: hidden;
}

.center-content {
    position: relative;
    height: 100%;
}

.alignBottom {
    position: absolute;
    bottom: 0;
}
