<div class="center-content">
   <h2>Login or register</h2>
   <mat-tab-group>
      <mat-tab label="Login">
         <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="center-content tab">
            <mat-form-field>
               <mat-label>Email:</mat-label>
               <input matInput placeholder="Email" formControlName="email" type="email">
            </mat-form-field>
            <mat-form-field>
               <mat-label>Password:</mat-label>
               <input matInput placeholder="Password" formControlName="password" type="password">
            </mat-form-field>
            <button mat-flat-button color="accent" type="submit">Login</button>
         </form>
      </mat-tab>
      <mat-tab label="Signup">
         <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="center-content tab">
            <mat-form-field>
               <mat-label>Email:</mat-label>
               <input matInput placeholder="Email" formControlName="email" type="email" required>
            </mat-form-field>
            <mat-form-field>
               <mat-label>Display name:</mat-label>
               <input matInput placeholder="Username" formControlName="username" type="text" required>
            </mat-form-field>
            <mat-form-field>
               <mat-label>Password:</mat-label>
               <input matInput placeholder="Password" formControlName="password" type="password" required>
            </mat-form-field>
            <mat-form-field>
               <mat-label>Confirm Password:</mat-label>
               <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password"
                  required>
            </mat-form-field>
            <button mat-flat-button color="accent" type="submit">Signup</button>
         </form>
      </mat-tab>
   </mat-tab-group>
   <button mat-flat-button color="accent" (click)="goBack()" class="alignBottom">Back</button>
</div>