@use 'src/assets/styles/colors' as *;

$padding-size: 3rem;

main {
    width: 100%;
    height: 100%;
    background-color: rgba($deep-purple-200, 0.7);
    border: $deep-purple-800 solid 0.3rem;
    border-radius: $padding-size;
    padding: $padding-size;
}