<mat-spinner class="spinner" *ngIf="!leaderboardElements; else elements"></mat-spinner>
<ng-template #elements>
   <table *ngIf="leaderboardElements?.length; else empty">
      <tr>
         <th>{{ "leaderboards.tableColumns.place" | transloco }}</th>
         <th>{{ "leaderboards.tableColumns.name" | transloco }}</th>
         <th>{{ "leaderboards.tableColumns.turns" | transloco }}</th>
      </tr>
      <tr *ngFor="let element of leaderboardElements; let idx = index" class="leaderboardElement">
         <td>{{ idx + 1 }}.</td>
         <td>{{ element.name }}</td>
         <td>{{ element.score }}</td>
      </tr>
   </table>
   <ng-template #empty>
      <p class="error">{{ "leaderboards.emptyLeaderboard" | transloco }}</p>
   </ng-template>
</ng-template>
