@use 'src/assets/styles/colors' as *;

mat-tab-group {
    height: 80%;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    tr {
        font-size: 1.25rem;
        line-height: 1.5rem;
        th {
            width: 30%;
            border-bottom: $primary-400 solid 2px;
        }
        td {
            width: 30%;
            border-bottom: $primary-300 solid 2px;
        }
    }
}

p.error {
    margin-top: 3rem;
}

.center-content {
    position: relative;
    height: 100%;
}

.alignBottom {
    position: absolute;
    bottom: 0;
}

.spinner {
    margin: 1rem auto;
    width: 2rem;
}
