mat-tab-group {
    height: 80%;
    width: 100%;
}

table {
    tr {
        th, td {
            width: 30%;
        }
    }
}

p.error {
    margin-top: 3rem;
}

.center-content {
    position: relative;
    height: 100%;
}

.alignBottom {
    position: absolute;
    bottom: 0;
}
