<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="center-content tab">
   <mat-form-field>
      <mat-label>{{ "auth.inputFields.email" | transloco }}:</mat-label>
      <input matInput placeholder="{{ 'auth.inputPlaceholders.email' | transloco }}" formControlName="email" type="email" required>
   </mat-form-field>
   <mat-form-field>
      <mat-label>{{ "auth.inputFields.name" | transloco }}:</mat-label>
      <input matInput placeholder="{{ 'auth.inputPlaceholders.name' | transloco }}" formControlName="username" type="text" required>
   </mat-form-field>
   <mat-form-field>
      <mat-label>{{ "auth.inputFields.password" | transloco }}:</mat-label>
      <input matInput placeholder="{{ 'auth.inputPlaceholders.password' | transloco }}" formControlName="password" type="password" required>
   </mat-form-field>
   <mat-form-field>
      <mat-label>{{ "auth.inputFields.passwordConfirmation" | transloco }}:</mat-label>
      <input matInput placeholder="{{ 'auth.inputPlaceholders.passwordConfirmation' | transloco }}" formControlName="confirmPassword" type="password" required>
   </mat-form-field>
   <button mat-flat-button color="accent" type="submit" [disabled]="disableSubmit">{{ "auth.buttons.register" | transloco }}</button>
</form>
