/* You can add global styles to this file, and also import other style files */
@use 'src/assets/styles/colors' as *;
@use 'src/assets/styles/breakpoints' as *;

* {
    box-sizing: border-box;
    user-select: none;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: hidden;
    min-width: 20rem;
    min-height: 37.5rem;

    @media (max-height: $bp-small-height) {
        overflow: scroll;
    }
}

$background-blur-size: 0.25rem;

.bg-image {
    background-image: url("assets/images/background.PNG");
    filter: blur($background-blur-size);
    -webkit-filter: blur($background-blur-size);
    height: 100%; 
    background-repeat: repeat;
    background-size: 10rem;
}

app-root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
    min-height: 32rem;
    min-width: 20rem;

    @media (min-height: $bp-small-height) {
        height: 90%;
        aspect-ratio: 2/3;
    }
    @media (max-width: $bp-small-width) {
        width: 90%;
    }
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>* {
        text-align: center;
    }
}

@mixin buttonStyle() {
    $height: 2.2rem;
    margin: 1.5rem auto;
    height: $height;
    width: 50%;
    font-size: $height * 0.6 !important;
}

.buttons {
    margin: 5rem auto;
    width: 100%;
    button {
        @include buttonStyle();
    }
}

button {
    @include buttonStyle();
    background-color: $secondary-700;
}

a.ad {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
}

.error {
    color: $error;
    margin: 2rem auto;
    font-size: 1.5rem;
    line-height: 2rem;
}

h2 {
    color: $primary-mixed-black;
    font-size: 2.75rem !important;
    line-height: 3rem;
}
