/* You can add global styles to this file, and also import other style files */
@use 'src/assets/styles/colors' as *;

* {
    box-sizing: border-box;
    user-select: none;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    overflow: hidden;
}

$background-blur-size: 0.25rem;

.bg-image {
    background-image: url("assets/images/background.PNG");
    filter: blur($background-blur-size);
    -webkit-filter: blur($background-blur-size);
    height: 100%; 
    background-repeat: repeat;
    background-size: 10rem;
}

app-root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 90%;
    aspect-ratio: 2/3;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &>* {
        text-align: center;
    }
}

@mixin buttonStyle() {
    $height: 2.2rem;
    margin: 1.5rem auto;
    height: $height;
    width: 50%;
    font-size: $height * 0.6 !important;
}

.buttons {
    margin: 5rem auto;
    width: 100%;
    button {
        @include buttonStyle();
    }
}

button {
    @include buttonStyle();
    background-color: $secondary-700;
}
