<div class="center-content">
    <h2>Choose a gamemode!</h2>
    <div class="buttons center-content">
        <button mat-flat-button color="accent" routerLink="/game">Versus AI</button>
        <button mat-flat-button color="accent" disabled>Challanges</button>
    </div>
    <div class="buttons center-content">
        <button mat-flat-button color="accent" routerLink="/menu">Back</button>
    </div>
    <p class="error" *ngIf="loggedInUser === null">You can only show up on the leaderboards if you are logged in!</p>
</div>