<div class="center-content">
   <h2>{{ "gamemodeChooser.chooseNotice" | translate }}</h2>
   <div class="buttons center-content">
      <button mat-flat-button color="accent" routerLink="/game/pvp">{{ "shared.gamemodes.pvp" | translate }}</button>
      <button mat-flat-button color="accent" routerLink="/game/pve">{{ "shared.gamemodes.pve" | translate }}</button>
      <button mat-flat-button color="accent" disabled>{{ "shared.gamemodes.eve" | translate }}</button>
      <button mat-flat-button color="accent" disabled>{{ "shared.gamemodes.challenge" | translate }}</button>
   </div>
   <div class="buttons center-content">
      <button mat-flat-button color="accent" routerLink="/menu">{{ "shared.backToMenu" | translate }}</button>
   </div>
   <p *ngIf="loggedOut$ | async" class="error">{{ "gamemodeChooser.notLoggedInForLeaderboardWarning" | translate }}</p>
</div>